/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  font-size:1.25rem; /*20px*/
}

* {
  box-sizing:border-box;
}

html, body {
  height:100%;
}

body, textarea {
  font-family: 'Alegreya', 'Proxima Nova', 'Helvetica', sans-serif;
}

body {
  background-color:#fafafa;
}

.wrap {
  padding:2rem 4rem;
  max-width:800px;
  margin:0 auto;
}

.main, .wrap, .write {
  height:100%;
  width:100%;
}

.write {
  border:2px solid transparent;
  border-radius:2px;
  padding:1rem;
}

.write {
  outline:0;
  resize:none;
  background-color:transparent;
}

.info {
  padding:1rem;

  position:absolute;
  bottom:0.5rem;
  right:1rem;

  z-index:10;
}

.info-button {
  -webkit-transition: background 0.3s ease-in-out, all 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out, all 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out, all 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out, all 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, all 0.3s ease-in-out;

  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);

  border-top:2px solid #333;
  border-right:2px solid #333;
  width:1.5rem;
  height:1.5rem;
}

.info, .toggle {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  cursor:pointer;
}

.info-button:hover {
  border-color:#666;
}

.modal-open .info-button {
  border-color:#fafafa;
}

.toggle {
  position:absolute;
  bottom:2rem;
  left:2rem;
  border:1px solid #333;
  border-radius:2px;
  padding:0 4px;

  width:4rem;
  text-align:center;

  /*background color, color, transform*/
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

body.blur .toggle {
  background-color:#666;
  color:#fff;
}

.modal {
  text-align:center;
  background-color:#333;
  color:#fff;

  position:absolute;
  bottom:0;
  right:0;
  left:0;

  height:10rem;
}

.modal-overlay {
  display:none;
}

.modal-open .modal-overlay {
  display:block;
  position:absolute;
  top:0; left:0; right:0;
  bottom:10rem;
  z-index:100;
}

/* Translation */

.modal-open .info-button {
  -webkit-transform:translateY(-1rem) rotate(135deg);
     -moz-transform:translateY(-1rem) rotate(135deg);
      -ms-transform:translateY(-1rem) rotate(135deg);
       -o-transform:translateY(-1rem) rotate(135deg);
          transform:translateY(-1rem) rotate(135deg);
}

.modal {
  -webkit-transform:translateY(10rem);
     -moz-transform:translateY(10rem);
      -ms-transform:translateY(10rem);
       -o-transform:translateY(10rem);
          transform:translateY(10rem);
}

.modal-open .modal{
  -webkit-transform:translateY(0);
     -moz-transform:translateY(0);
      -ms-transform:translateY(0);
       -o-transform:translateY(0);
          transform:translateY(0);
}

.wrap, .toggle {
  -webkit-transform:translate(0);
     -moz-transform:translate(0);
      -ms-transform:translate(0);
       -o-transform:translate(0);
          transform:translate(0);
}

body.modal-open .wrap, body.modal-open .toggle {
  -webkit-transform:translateY(-10rem);
     -moz-transform:translateY(-10rem);
      -ms-transform:translateY(-10rem);
       -o-transform:translateY(-10rem);
          transform:translateY(-10rem);
}

body.modal-open .write {
  opacity:0.5;
}

.modal, .wrap {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
     -moz-transition: -moz-transform 0.3s ease-in-out;
       -o-transition: -o-transform 0.3s ease-in-out;
          transition: transform 0.3s ease-in-out;
}

.write {
  -webkit-transition: border-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -ms-transition: border-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

code {
  font-size:0.8rem;
  border:1px solid #ffef8a;
  padding:2px 4px;
  margin:0 4px;
  border-radius:4px;
  color:#ffef8a;
}

body.blur .write {
  color:rgba(141,141,141,0.5);
  text-shadow: 0 0 8px #666, 0 0 8px #666, 0 0 8px #666;
}

.textfill .blur .write {
  -webkit-text-fill-color:transparent;
  color:#333;
  text-shadow: 0 0 8px #444, 0 0 8px #444, 0 0 8px #444;
}

.write {
  border:2px solid rgba(200, 200, 200, 0);
}

.notext {
  border:2px solid rgba(200, 200, 200, 1);
}

.footer-content {
  display:table-cell;

  vertical-align: middle;
  text-align:left;
}

.half {
  float:left;
  width:50%;
  padding:0.5rem;
}

a {
  color:#ffef8a;
  text-decoration:none;
}

a:hover {
  color:#E9CD1B;
}

.footer-middle {
  display: table;
  width:800px;
  margin:0 auto;
  height:100%;
}

.logo {
  background-image:url('../img/logo.png');
  background-size:contain;
  background-position:center center;
  background-repeat:no-repeat;

  width:6rem;
  height:2.175rem;
  position:absolute;
  top:2rem;
  left:2rem;
}

p {
  margin:0.5rem 0;
}

@media only screen and (max-width:1000px) {
  .logo {
    position:absolute;
    left:50%;
    top:1.4125rem;
    margin-left:-3rem;
  }

  body {
    padding:5rem 2rem;
  }

  .wrap {
    padding:0 5%;
  }
}

@media only screen and (max-width: 800px) {
  .footer-middle {
    width:100%;
  }

  .footer-content {
    padding:1rem;
  }

  .modal {
    position:absolute;
    display:block;
    height:auto;

    top:0;bottom:0;
    left:0;right:0;
  }

  .modal-open .modal-overlay {
    /*need both selectors for specificity*/
    display:none;
  }

  .half {
    float:left;
    width:100%;
    padding:0;
  }

  .half:nth-child(2) {
    margin-top:-1rem; /*fake margin collapse*/
  }

  .modal p {
    margin:1rem auto;
    max-width:400px;
  }

  .modal-open .info-button {
    -webkit-transform:translateY(-100%) rotate(135deg);
       -moz-transform:translateY(-100%) rotate(135deg);
        -ms-transform:translateY(-100%) rotate(135deg);
         -o-transform:translateY(-100%) rotate(135deg);
            transform:translateY(-100%) rotate(135deg);
  }

  .modal{
    -webkit-transform:translateY(100%);
       -moz-transform:translateY(100%);
        -ms-transform:translateY(100%);
         -o-transform:translateY(100%);
            transform:translateY(100%);
  }

  body.modal-open .wrap{
    -webkit-transform:translateY(-100%);
       -moz-transform:translateY(-100%);
        -ms-transform:translateY(-100%);
         -o-transform:translateY(-100%);
            transform:translateY(-100%);
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
