html {
  font-size:1.25rem; /*20px*/
}

* {
  box-sizing:border-box;
}

html, body {
  height:100%;
}

body, textarea {
  font-family: 'Alegreya', 'Proxima Nova', 'Helvetica', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.title {
  text-align:left;
  margin-bottom:1rem;
}

a {
  color:hsl(52, 100%, 37%);
  text-decoration:none;
}

a:hover {
  color:hsl(52, 100%, 55%);
}

code {
  font-size:0.9rem;
  /*border:1px solid hsl(52, 100%, 37%);
  padding:2px 4px;
  margin:0 4px;
  border-radius:4px;*/
  color:hsl(52, 100%, 37%);
  white-space: nowrap;
}

a.button {
  display:inline-block;

  width:49%;
  text-align:center;

  color: #333;
  border:1px solid #333;

  padding:2px 4px;
  border-radius:4px;
}

a.button:first-child {
  margin-right:1%;
}

a.button:last-child {
  margin-left:1%;
}

a.button:hover, a.button:active, a.button:focus {
  background:#555;
  border-color:#555;
  color: white;
}

.main {
  max-width:350px;
  text-align:justify;
  hyphens:auto;
}

.footnotes {
  border-top:1px solid #666;
  padding-top:0.5rem;
  font-size:0.8rem;
}

.footnotes code {
  font-size:0.72rem;
}
